@charset "UTF-8";

@media screen and (min-width: 735px) and (max-width: 992px){
    #nav-p{
        max-width: 1085px;
    }
    #languages{
        display: flex;
    }
    #links > br{
        display: none;
    }
    #links{
        margin-top: -10px;
        display: block;
    }
    #links > a{
        margin: 3px;
    }
    .hamburger{
        display: none;
    }
    .links-i{
        display: none;
    }
    .lang-i{
        display: none;
    }
}

@media screen and (min-width: 985px) and (max-width: 1200px){
    #nav-p{
        max-width: 1085px;
    }
    #languages{
        display: flex;
    }
    #links > br{
        display: none;
    }
    #links{
        margin-top: -10px;
        display: block;
    }
    picture{
        display: flex;
        justify-content: center;
    }
    picture > img{
        width: 985px;
    }
    .hamburger{
        display: none;
    }
    #main{
        display: flex;
        gap: 16px;
    }
    .links-i{
        display: none;
    }
    .lang-i{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    #nav-p{
        max-width: 1085px;
    }
    #languages{
        display: flex;
        justify-items: right;
    }
    #links > br{
        display: none;
    }
    #links{
        margin-top: -10px;
        display: block;
    }
    picture{
        display: flex;
        justify-content: center;
    }
    picture > img{
        width: 985px;
    }
    .hamburger{
        display: none;
    }
    .links-i{
        display: none;
    }
    .lang-i{
        display: none;
    }
    #main{
        display: flex;
        gap: 16px;
    }
    footer nav{
        gap: 30px;
    }
    #sf-ft{
        display: grid;
        grid-column: 2;
        margin-right: 20px;
        margin-top: -30px;
    }
    #cent{
        justify-content: right;
    }
    footer ul{
        display: flex;
        justify-content: right;
        margin: 20px 0px 30px 0px;
    }
    li{
        display: flex;
        margin: 20px;
    }
    li a{
        margin: 0px;
    }
    #yg-st{
        margin-right: 20px;
        margin-top: -10px;
    }
    #yg-st > a{
        width: 25vw;
        margin-bottom: 30px;
    }
    #f-ft{
        display: flex;
        grid-row: 1 / 2;
    }
    #cent-f{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}