@charset "UTF-8";

@media screen and (min-width: 735px) and (max-width: 992px){
    #nav-p{
        max-width: 985px;
    }
    #languages{
        display: flex;
    }#links > br{
        display: none;
    }
    #links{
        margin-top: -10px;
    }
    #links > a{
        margin: 3px;
    }
}

@media screen and (min-width: 985px) and (max-width: 1200px){
    #nav-p{
        max-width: 985px;
    }
    #languages{
        display: flex;
    }
    #links > br{
        display: none;
    }
    #links{
        margin-top: -10px;
    }
    picture{
        display: flex;
        justify-content: center;
    }
    picture > img{
        width: 985px;
    }
    #main{
        display: flex;
        gap: 16px;
    }
}

@media screen and (min-width: 1200px){
    #nav-p{
        max-width: 985px;
    }
    #languages{
        display: flex;
    }
    #links > br{
        display: none;
    }
    #links{
        margin-top: -10px;
    }
    picture{
        display: flex;
        justify-content: center;
    }
    picture > img{
        width: 985px;
    }
    #main{
        display: flex;
        gap: 16px;
    }
    #yg-st{
        display: flex;
    }
    #f-ft{
        display: flex;
    }
}